<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972606647872-36jovl7rn0m968t480rhkibendhipoj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972606647872-36jovl7rn0m968t480rhkibendhipoj0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>972606647872-fgr7ldf61h1vkfmjrit7s2t3975n4lri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-S57_Cn-1xZJa3t0-zZVJFPdobHDF-9s</string>
	<key>GCM_SENDER_ID</key>
	<string>972606647872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceapp</string>
	<key>PROJECT_ID</key>
	<string>refreshing-cat-355711</string>
	<key>STORAGE_BUCKET</key>
	<string>refreshing-cat-355711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972606647872:ios:c644dd98302ec3c26679a5</string>
</dict>
</plist>